
.contador-container {
  text-align: center;
  margin: 20px;
}

.contador-value {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contador-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.reset-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
